<!DOCTYPE html>
<html lang="en">
<head>
<title>Find my package</title>
<link href="style.css" rel="stylesheet">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/suivre_mon_colis">Where is my package</a>
  <a href="/liste">All package</a>
</div>

<div class="content">

  <table border = 1>
     <thead>
        <td>Name</td>
        <td>Address></td>
        <td>city</td>
        <td>Pincode</td>
     </thead>

     {% for row in students %}
        <tr>
           <td>{{row["name"]}}</td>
           <td>{{row["addr"]}}</td>
           <td> {{ row["city"]}}</td>
           <td>{{row['pin']}}</td>
        </tr>
     {% endfor %}
  </table>

</div>

<div class="footer">
  <p>Footer</p>
</div>

</body>
</html>
