<!DOCTYPE html>
<html lang="en">
<head>
<title>Find my package</title>
<link href="style.css" rel="stylesheet">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="topnav">
  <a href="/find_my_package">Find my package</a>
  <a href="/liste">All package</a>
</div>

<div class="content">

  <table border = 1>
     <thead>
        <td>Package number</td>
        <td>Last location></td>
        <td>timestamp</td>
        <td>Status</td>
     </thead>

     {% for row in packages %}
        <tr>
           <td>{{row['package_id']}}</td>
           <td> {{ row['last_location']}}</td>
           <td> {{ row['timestamp']}}</td>
           <td>{{row['status']}}</td>
        </tr>
     {% endfor %}
  </table>

</div>

<div class="footer">
  <p>Footer</p>
</div>

</body>
</html>
