<!DOCTYPE html>
<html lang="en">
<head>
<title>Find my package</title>
<link href="style.css" rel="stylesheet">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/suivre_mon_colis">Where is my package</a>
  <a href="/liste">All package</a>
</div>

<div class="content">

  <span class="title">
          <h1>{{ package.package_id }}</h1>
      </span>
      <div class="content">
        <td>{{package['package_id']}}</td>
        <td> {{ package['last_location']}}</td>
        <td> {{ package['timestamp']}}</td>
        <td>{{package['status']}}</td>
      </div>


</div>

<div class="footer">
  <p>Footer</p>
</div>

</body>
</html>
