<!DOCTYPE html>
<html lang="en">
<head>
<title>Find my package</title>
<link href="style.css" rel="stylesheet">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="topnav">
    <a href="/find_my_package">Find my package</a>
    <a href="/liste">All package</a>
  </div>

<div class="content">


  <span class="title">
      <h1>Package number {{ package.package_id }}</h1>
  </span>
  <div class="content">
    <td>Laste location : {{ package['last_location']}}</td>
    <td>at {{ package['timestamp']}}</td><br> <br>
    <td>Status of your package : {{package['status']}}</td>
    <br><br>
    <form class="form-inline my-2 my-lg-0" method="GET">
      <input type="search" placeholder="Search" name="search">
      <button type="submit">Search</button>
    </form>
  </div>

</div>

<div class="footer">
  <p>Footer</p>
</div>

</body>
</html>
