---
services:
  rabbit:
    image: rabbitmq:3
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - "$PWD/rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      timeout: 10s
      interval: 30s
      retries: 3

  beaver:
    image: python:3.11
    restart: always
    networks:
      - amqp
      - internal
    volumes:
      - "$PWD/amqp-app:/srv/app:ro"
    depends_on:
      rabbit:
        condition: service_healthy

  otter:
    image: mariadb:10
    restart: always
    networks:
      - database
    environment:
      MARIADB_ROOT_PASSWORD: "S*c@TR/rt"
      MARIADB_MYSQL_LOCALHOST_USER: 1
      MARIADB_DATABASE: deliverous
      MARIADB_USER: billy
      MARIADB_PASSWORD: qwertyuiop
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--su-mysql", "--connect", "--innodb_initialized"]
      timeout: 10s
      interval: 30s
      retries: 3

  adminer:
    image: adminer
    restart: always
    networks:
      - database
    ports:
      - "8080:8080"

  octopus:
    image: python:3.11
    restart: always
    networks:
      - internal
      - database
      - vpn
    volumes:
      - "$PWD/amqp-app:/srv/app:ro"
    depends_on:
      otter:
        condition: service_healthy

  fox:
    image: python:3.11
    restart: always
    networks:
      - database
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "$PWD/amqp-app:/srv/app:ro"
    depends_on:
      otter:
        condition: service_healthy

networks:
  internal:
  database:
  amqp:
