<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Track a parcel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="topnav">
      <a href="{{ url_for('track_package') }}">Track a parcel</a>
      <a href="{{ url_for('list_package') }}">All parcels</a>
    </div>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
    <section class="footer">
      {% block footer %}{% endblock %}
    </section>
  </body>
</html>
